// Specific CSS for your home-page

body {
  // background-color: aqua;
  justify-content: center;
  color: white;
  text-align: center;
  align-items: center;
  // background-image: " asset_path('Friends.jpeg') %>";
  background-size: cover;
}

.home_container {
  color: white;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: 300px;
  margin-right: 300px;
  h1 {
    font-size: 7em;
    color: white;
    font-family: 'Dela Gothic One', cursive;
    margin-bottom: 50px;
  }
  p {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: white ;
    margin: 0;
  }
  .hero_btn {
    margin-top: 50px;
  }
}
