// Specific CSS for your home-page

html {
  cursor: url("./assets/images/avatar.png");
}

body {
  // background-color: aqua;
  justify-content: center;
  color: white;
  text-align: center;
  align-items: center;
  // background-image: " asset_path('Friends.jpeg') %>";
  background-size: cover;
}

.home_container {
  color: white;
  justify-content: center;
  text-align: center;
  align-items: center;
  // margin-left: 300px;
  // margin-right: 300px;
  display: flex;
  flex-direction: column;
  // flex-grow: 1;
  h1 {
    font-size: 7em;
    color: white;
    font-family: 'Dela Gothic One', cursive;
    margin-bottom: 50px;
  }
  p {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 1.2em;
    color: white ;
    margin: 0;
    top: 100px;
  }
  .hero_btn {
    margin-top: 50px;
  }
}

.top-box {
  justify-content: center;
  top: 50px;
  z-index: 10;
  translate: 0px 30px;
  // display: none;
}

.middle-box {
  text-align: center;
  justify-content: center;
}

.bottom-box {
 text-align: left;
}

.hero-type {
  transition-delay: 2000;
  transform-origin: center;
  transition: 2s;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 70px;
  padding-right: 70px;
  background-color: #0000ff;
  // border-radius: 100px;
  border: solid 5px rgb(0, 0, 0);
  box-shadow: 50px 50px 0px #000000;
}

.description {
  transition-delay: 2000;
  transform-origin: center;
  transition: 2s;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
  color: black;
  background-color: rgb(255, 221, 0);
  color: black !important;
  border: solid 5px black;
  border-radius: 50px;
  box-shadow: 15px 15px 0px #000000;
}

// .pros {
//   width: 100%;
//   display: flex;
//   justify-content: space-between;
//   h5 {
//     color: #000000;
//     font-family: 'Inter', sans-serif;
//     font-weight: 400;
//   }
// }
