// Specific CSS for your home-page

body {
  // background-color: aqua;
  justify-content: center;
  color: white;
  text-align: center;
  align-items: center;
  background-image: url("https://files.slack.com/files-pri/T02NE0241-F05P4609J4A/friends-photo-207896.webp");
}

.home_container {
  color: white;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: 300px;
  margin-right: 300px;
  h1 {
    font-size: 7em;
    color: white;
    font-family: 'Dela Gothic One', cursive;
    margin-bottom: 50px;
    margin-top: 100px;
  }
  p {
    font-size: 1.5em;
    color: white ;
    margin: 0;
  }
  .hero_btn {
    margin-top: 50px;
  }
}
