body {
  background-color: rgb(255, 98, 0);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 50px;
  background-color: #f0f0f0;
  border-radius: 15px;
  background-color: rgb(255, 98, 0);
}

.card-1{
  flex: 1;
  padding: 20px;
  margin: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border: 5px solid black;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
  width:600px;
}

.card-2{
  padding: 20px;
  margin: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border: 5px solid black;
  border-radius: 15px;
  text-align: left;
  color: black;
}

.card-3{
  flex: 1;
  padding: 20px;
  margin: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border: 5px solid black;
  border-radius: 15px;
  text-align: left;
  color: black;
}

.pal-name {
  max-width: 80%;
  height: 100%;
  margin-bottom: 50px;
  border: 5px solid black;
  border-radius: 5px;
  align-items: center;
}

.card-image {
  margin-top: 12px;
  width: 90%;
  height: 5%;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  border: 5px solid black;
  border-radius: 15px;
}

.btn {
  justify-content: center;
  border-radius: 10px;
  border: 2px solid black;
  background-color: rgb(255, 98, 0);
}

.btn:hover {
  color:  rgb(255, 98, 0);
  background: black;
}

.row {
  flex: 1;
  padding: 20px;
  margin: 50px 10px 30px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border: 5px solid black;
  border-radius: 15px;
  text-align: left;
  color: black;
}
