  <h1> My Bookings List </h1>


  <% @bookings.each do |booking| %>
    <div class="booking-card">
    <ul>
       <li> This pal is the friend of: <%= booking.pal.user.email %>
        This pal: <%= booking.pal.name %>
        Start Date: <%= booking.start_date %>
        End Date: <%= booking.end_date %> </li>
    </ul>
    </div>
  <% end %>
