  <br>
  <br>
  <br>
<div class="home_container">
  <p>Tired of your pals? Rent some new ones!</p>
  <h1>Spare Pals</h1>
  <br>
  <style>
  body {
    background-image: url("<%= asset_path('Friends.jpg') %>");
    background-size: cover;
  }
</style>
  <%# We've got your back. Find your next epic friend and let the good times roll!" %>
  <br>
  <%= link_to "Find me a pal!", pals_path, class: "hero_btn" %>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
    <h5>100% ethical ✅</h5>
    <h5>100% above-board ✅</h5>
    <h5>100% not shady ✅</h5>
  <br>
  <br>
</div>
