<div class="home_container">
  <h1>Spare Pals</h1>
  <p>A sidekick for movie night? ✅</p>
  <p>A partner in crime for a hospital adventure?! ✅</p>
  <p>A pall for... anything? ✅</p>
  <%# We've got your back. Find your next epic friend and let the good times roll!" %>
  <br>
  <br>
  <br>

  <%= link_to "Find me one!", pals_path, class: "hero_btn" %>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h6>*100% above-board 👀</h6>
</div>
