<div class="home_container">
<br>
<br>
  <div class="top-box">
    <p class="description"><strong>Tired of your pals? Rent some new ones!</strong></p>
  </div>
  <div class="middle-box">
  <h1 class="hero-type">Spare Pals</h1>
  </div>
  <br>
  <br>
  <style>
  /* body {
    background-image: url("<%= asset_path('Friends.jpg') %>");
    background-size: cover;
  } */
  </style>
  <%# We've got your back. Find your next epic friend and let the good times roll!" %>
  <br>
  <%= link_to "Find me a pal!", pals_path, class: "hero_btn" %>
</div>
