
<h1> Welcome to Spare Pal </h1>
<h3> Introduction about our service </h3>

<p>"Welcome to 'Spare Pals'! Need a sidekick for movie night or a partner in crime for a hospital adventure?
We've got your back. Find your next epic friend and let the good times roll!"</p>


<%= link_to "Check out all the available pals ", pals_path %>
