.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
  border: black 5px solid;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.btn-cancel {
  margin-top: 20px;
  justify-content: center;
  border-radius: 25px;
  border: 5px solid black;
  background-color: red;
  width: 100%;
  height: 50px;
}

.btn-cancel h5 {
  padding-top: 6px;
}

.btn-cancel:hover {
  border: 3px solid black;
  color:  red;
  transform:translateY(-12px);
  transition: 0.3s;
  box-shadow: 0px 10px 0px #000000;
  cursor: pointer;
  background-color: red;
  text-decoration: none;
}

.border-image {
  border: 3px solid black ;
}
