.hero_btn {
  background-color: white;
  color: black;
  text-decoration: none;
  border: solid 5px rgb(0, 0, 0);
  border-radius: 25px;
  padding: 20px 30px;
  position: relative;
  font-family: 'Dela Gothic One', cursive;
  font-size: 2em;
}

.hero_btn:hover {
  border: 5px solid black;
  color:  rgb(255, 255, 255);
  transform:translateY(-12px);
  transition: 0.3s;
  box-shadow: 0px 10px 0px #000000;
  cursor: pointer;
  background-color: #0000ff
  // box-shadow: 0px 6px 0px #000000;
}
