
.wrapper {
  width: 100%;
  // background-color: rgb(0, 98, 255);
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.btn-cancelpal {
  margin-top: 20px;
  justify-content: center;
  border-radius: 25px;
  border: 5px solid black;
  background-color: red;
  width: 100%;
  height: 50px;
}
.btn-cancelpal h5 {
  padding-top: 6px;
}
.btn-cancelpal:hover {
  border: 3px solid black;
  color:  red;
  transform:translateY(-12px);
  transition: 0.3s;
  box-shadow: 0px 10px 0px #000000;
  cursor: pointer;
  background-color: red;
  text-decoration: none;
}


.mypals_card {
  margin: 20px;
  width: 18rem;
  border: 5px solid #333;
  border-radius: 8px;
  background-color: #f7f7f7;
  color: #333;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  img {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }

  h4 {
    font-weight: bold;
    margin-bottom: 10px;
  }

  p {
    margin: 5px 0;
  }

  a {
    text-decoration: none;
    color: white;
    margin-top: 10px;

    &:hover {
      text-decoration: underline;
    }
  }
}
