.navbar-lewagon {
  justify-content: space-between;
  // background: white;
  a {
    color: black;
  }
  a:hover{
    color: rgb(159, 9, 159);
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
