.navbar-lewagon {
  justify-content: space-between;
  // background: white;
  a {
    color: white;
  }
  a:hover{
    color: gray;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
