<div class="container">
  <h1>All Pals</h1>
  <ul>
    <% @pals.each do |pal| %>
      <li><%= link_to pal.name, pal_path(pal) %></li>
    <% end %>
  </ul>
  <%# link_to 'Add a new pal', new_pal_path, class: 'btn btn-success' %>
</div>
