<div class="index_container">
  <div class="header">
    <h2>Available Pals</h2>
    <div class="filters">
      <h2>map</h2>
    </div>
  </div>
  <div class="cards_wrapper">
    <% @pals.each do |pal| %>
      <%= link_to new_pal_booking_path(pal), class: "pal_card myDIV" do %>
        <img class="img">
        <h3 class="pal_name"><%= pal.name %></h3>
        <div class="hide-me">Hang with me!</div>
        <div class="stars">
          <% pal.rating.times do %>
            <h3><i class="fa-solid fa-star" style="color: #ffd000;"></i></h3>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
