
<div class="index_container">
  <h1>Available Pals</h1>
  <div class="cards_wrapper">
    <% @pals.each do |pal| %>
      <div class="pal_card">
      <%# <div class="pal_img"> %>
        <img class="img">
        <h3 class="pal_name"><%= link_to pal.name, pal_path(pal) %></h3>
        <div class="stars">
        <% pal.rating.times do %>
        <h3>⭐️</h3>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
