
<div class="container">
  <h1>All Pals</h1>
  <div class="cards_wrapper">
    <% @pals.each do |pal| %>
      <div class="pal_card">
      <%# <div class="pal_img"> %>
      <img class="img">
      <h3 class="pal_name"><%= link_to pal.name, pal_path(pal) %></h3>
      <h3 class="stars">⭐️⭐️⭐️⭐️⭐️</h3>
      </div>
    <% end %>
  </div>
</div>
