<h4>Hello from the Pals show page</h4>
<br>
<h1>Pal's name: <%= @pal.name %></h1>
<h1>Pal's location: <%= @pal.location %></h1>
<h1>Pal's price: £<%= @pal.price %></h1>
<h1>Pal's rating: <%= @pal.rating %></h1>
